/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.SettlementRequest
import io.swagger.client.model.SettlementResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * All cleared, unsettled records.  This is what a lender will recevie from Vyze. 
   * 
   * Expected answers:
   *   code 200 : SettlementRequest (Get all transactions that are ready to be settled.)
   */
  def settlementApiGet(): ApiRequest[SettlementRequest] =
    ApiRequest[SettlementRequest](ApiMethods.GET, "https://virtserver.swaggerhub.com/scottweaver/VyzeSettlement/1.0", "/settlement/api", "application/json")
      .withSuccessResponse[SettlementRequest](200)
        /**
   * Reconcile requested settlements. 
   * 
   * Expected answers:
   *   code 200 : SettlementResponse (Reconcile requested settlements)
   */
  def settlementApiPost(): ApiRequest[SettlementResponse] =
    ApiRequest[SettlementResponse](ApiMethods.POST, "https://virtserver.swaggerhub.com/scottweaver/VyzeSettlement/1.0", "/settlement/api", "application/json")
      .withSuccessResponse[SettlementResponse](200)
        /**
   * Get the settlement reconciliation information.  This could be by date, merchant, etc. 
   * 
   * Expected answers:
   *   code 200 : SettlementResponse (Get all transactions that are settled.)
   */
  def settlementLenderSpiGet(): ApiRequest[SettlementResponse] =
    ApiRequest[SettlementResponse](ApiMethods.GET, "https://virtserver.swaggerhub.com/scottweaver/VyzeSettlement/1.0", "/settlement/lender/spi", "application/json")
      .withSuccessResponse[SettlementResponse](200)
        /**
   * Request settlement of transactions. 
   * 
   * Expected answers:
   *   code 200 : SettlementRequest (Request settlement of transactions.)
   */
  def settlementLenderSpiPost(): ApiRequest[SettlementRequest] =
    ApiRequest[SettlementRequest](ApiMethods.POST, "https://virtserver.swaggerhub.com/scottweaver/VyzeSettlement/1.0", "/settlement/lender/spi", "application/json")
      .withSuccessResponse[SettlementRequest](200)
      

}

